@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*Color pallete*/
/*Mixins Globals*/
/*Color pallete*/
/*Global*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.btn-basic,
.secao-contato form a,
.secao-destaque a,
.secao-planos .btn-mega,
.secao-planos .btn-ultra,
.secao-planos .btn-start,
.content-header a {
  border-radius: 5px;
  cursor: pointer;
  padding: 1%;
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2%;
  margin-top: 3%;
  text-transform: uppercase;
}

.secao-com-background {
  background-color: rgba(226, 226, 226, 0.3);
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../images/background.jpg") center;
  background-size: cover;
  color: #ffffff;
  height: 70vh;
}

header a {
  color: #ffffff;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1% 0;
}

.top-header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.top-header .logo img {
  width: 42px;
  height: 42px;
}

.top-header .logo a {
  font-size: 2rem;
}

.top-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 4%;
  width: 35%;
}

.top-header nav a:hover {
  text-decoration: underline;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.content-header h1 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  margin-bottom: 3%;
  text-transform: uppercase;
}

.content-header p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 3%;
}

.content-header a {
  border: 1px solid #6e2594;
  width: 20%;
}

.content-header a:hover {
  background-color: #6e2594;
  color: #ffffff;
  transition: 0.8s;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

main .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1%;
  max-width: 30%;
}

main .card p {
  letter-spacing: 0.1rem;
  line-height: 1.4rem;
}

main .card-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

main .card-header p {
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8% 0 0 8%;
}

.secao-sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  padding: 3%;
}

.secao-sobre .content-sobre {
  width: 40%;
  padding: 2% 4%;
}

.secao-sobre .content-sobre p {
  margin-bottom: 5%;
  line-height: 1.5rem;
}

.secao-sobre .content-sobre .hr {
  border: none;
  background-color: #6e2594;
  content: "";
  height: 1px;
  margin: 3% 0;
}

.secao-sobre .icons-parceiros {
  display: flex;
  gap: 10%;
  margin-bottom: 10%;
}

.secao-sobre .icons-parceiros img {
  width: 48px;
  height: 48px;
}

.secao-sobre .image-sobre {
  width: 60%;
}

.secao-planos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.secao-planos .content-planos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin-bottom: 5%;
  width: 100%;
}

.secao-planos .card-planos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 1% 0 3% 0;
  text-align: center;
  width: 18%;
}

.secao-planos .card-planos hr {
  border: none;
  background-color: #e2e2e2;
  content: "";
  height: 1px;
  width: 80%;
}

.secao-planos .card-planos .start {
  color: #ecd444;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 2% 0;
  text-align: center;
}

.secao-planos .card-planos .ultra {
  color: #6e2594;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 2% 0;
  text-align: center;
}

.secao-planos .card-planos .mega {
  color: #000000;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 2% 0;
  text-align: center;
}

.secao-planos .card-planos ul {
  font-size: 1rem;
  padding: 5% 12%;
}

.secao-planos .card-planos li {
  margin-bottom: 5%;
}

.secao-planos .btn-start {
  border: 1px solid #ecd444;
  color: #ecd444;
  font-size: 1.3rem;
  padding: 3%;
  transition: 0.4s;
  width: 80%;
}

.secao-planos .btn-start:hover {
  background-color: #ecd444;
  color: #ffffff;
}

.secao-planos .btn-ultra {
  border: 1px solid #6e2594;
  color: #6e2594;
  font-size: 1.3rem;
  padding: 3%;
  transition: 0.4s;
  width: 80%;
}

.secao-planos .btn-ultra:hover {
  background-color: #6e2594;
  color: #ffffff;
}

.secao-planos .btn-mega {
  border: 1px solid #000000;
  color: #000000;
  font-size: 1.3rem;
  padding: 3%;
  transition: 0.4s;
  width: 80%;
}

.secao-planos .btn-mega:hover {
  background-color: #000000;
  color: #ffffff;
}

.desc-blog {
  margin-bottom: 3%;
  padding: 1% 0;
  width: 52%;
}

.desc-blog .blog-desc-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2%;
}

.desc-blog .blog-desc-text {
  font-size: 0.9rem;
}

.desc-blog .blog-desc-text span {
  color: #6e2594;
  font-weight: 900;
  text-decoration: underline;
}

.secao-destaque a {
  border: 1px solid #6e2594;
  margin-bottom: 2%;
}

.secao-destaque a:hover {
  background-color: #6e2594;
  color: #ffffff;
  transition: 0.7s;
}

.secao-destaque .content-destaque {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.secao-destaque .card-destaque {
  margin-bottom: 5%;
  width: 30%;
}

.secao-destaque .card-destaque p {
  font-size: 1.3rem;
  font-weight: bolder;
}

.secao-destaque .card-destaque:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.secao-contato p:last-of-type {
  margin-bottom: 1%;
}

.secao-contato form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 5%;
}

.secao-contato form a {
  border: 1px solid #6e2594;
  color: #000000;
  padding: 2%;
  width: 80%;
}

.secao-contato form a:hover {
  background-color: #6e2594;
  color: #ffffff;
  transition: 0.8s;
}

.secao-contato .campo-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 2%;
}

.secao-contato .campo-form label {
  margin-bottom: 1%;
}

.secao-contato .campo-form input {
  border: none;
  border-bottom: 1px solid #6e2594;
  outline: none;
  padding: 2%;
}

.secao-contato .campo-form select {
  padding: 2%;
}

.secao-contato .campo-form-checkbox {
  width: 80%;
  margin-bottom: 3%;
}

.content-institucional {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1%;
  margin-bottom: 5%;
  width: 80%;
}

.card-institucional {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1%;
  width: 40%;
}

.card-institucional video {
  width: 100%;
}

.titulo-institucional {
  font-size: 0.9rem;
}

.endereco {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2rem;
  margin: 5% 0;
}

.telefone {
  font-size: 1.2rem;
}

.telefone a {
  text-decoration: underline;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

footer .content-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  width: 80%;
}

footer .logo-apeperia h2 {
  font-size: 2rem;
}

footer .redes-sociais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 20%;
}

footer .redes-sociais img {
  width: 42px;
  height: 42px;
}

footer .links-rodape {
  width: 40%;
}

footer .links-rodape ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  list-style: none;
}

footer .links-rodape a {
  color: #ffffff;
}

footer .links-rodape a:hover {
  text-decoration: underline;
}

footer .copyright {
  margin-bottom: 3%;
  width: 60%;
}

footer .copyright hr {
  background-color: #e2e2e2;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1%;
}

/*# sourceMappingURL=main.css.map */