@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "./variables/colors.scss";
@import "./functions/mixins.scss";

/*Global*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.btn-basic {
    border-radius: 5px;
    cursor       : pointer;
    padding      : 1%;
    text-align   : center;
}

a {
    text-decoration: none;
}

header {
    background     : linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../images/background.jpg") center;
    background-size: cover;
    color          : $white;
    height         : 70vh;

    a {
        color: $white;
    }
}

.top-header {
    @include display-flex-properties(flex, row, space-around, center);
    padding: 1% 0;

    .logo {
        @include display-flex-properties(flex, row, center, center);
        gap: 5%;

        img {
            width : 42px;
            height: 42px;
        }

        a {
            font-size: 2rem;
        }
    }

    nav {
        @include display-flex-properties(flex, row, space-around, center);
        flex-wrap: wrap;
        gap      : 4%;
        width    : 35%;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.content-header {
    @include display-flex-properties(flex, column, center, center);
    padding-top: 5%;

    h1 {
        font-size     : 5rem;
        font-weight   : 900;
        letter-spacing: 0.2rem;
        margin-bottom : 3%;
        text-transform: uppercase;
    }

    p {
        font-size     : 1.2rem;
        letter-spacing: 0.1rem;
        text-align    : center;
        margin-bottom : 3%;
    }

    a {
        @extend .btn-basic;
        border: 1px solid $purple;
        width : 20%;

        &:hover {
            background-color: $purple;
            color           : $white;
            transition      : 0.8s;
        }
    }
}

main {
    @include background-section-color($gray, 0.3);
    @include display-flex-properties(flex, row, space-around, center);
    height: 30vh;

    .card {
        @include display-flex-properties(flex, column, flex-start, flex-start);
        padding  : 1%;
        max-width: 30%;

        p {
            letter-spacing: 0.1rem;
            line-height   : 1.4rem;
        }
    }

    .card-header {
        display       : flex;
        flex-direction: row;
        margin-bottom : 3%;

        p {
            font-size     : 1.4rem;
            font-weight   : 900;
            text-transform: uppercase;
            margin        : 8% 0 0 8%;
        }
    }
}

.secao-sobre {
    @include display-flex-properties(flex, row, space-around, flex-start);
    height : 100vh;
    padding: 3%;

    .content-sobre {
        width  : 40%;
        padding: 2% 4%;

        h2 {
            @include font-style-h2(5%);
        }

        p {
            margin-bottom: 5%;
            line-height  : 1.5rem;
        }

        .hr {
            border          : none;
            background-color: $purple;
            content         : "";
            height          : 1px;
            margin          : 3% 0;
        }
    }

    .icons-parceiros {
        display      : flex;
        gap          : 10%;
        margin-bottom: 10%;

        img {
            width : 48px;
            height: 48px;
        }
    }

    .image-sobre {
        width: 60%;
    }
}

.secao-planos {
    @include background-section-color($gray, 0.3);
    @include display-flex-properties(flex, column, space-around, center);

    h2 {
        @include font-style-h2(2%);
    }

    .content-planos {
        @include display-flex-properties(flex, row, center, center);
        gap          : 1%;
        margin-bottom: 5%;
        width        : 100%;
    }

    .card-planos {
        @include display-flex-properties(flex, column, center, center);

        background-color: $white;
        border-radius   : 6px;
        padding         : 1% 0 3% 0;
        text-align      : center;
        width           : 18%;

        hr {
            border          : none;
            background-color: $gray;
            content         : "";
            height          : 1px;
            width           : 80%;
        }

        .start {
            @include card-planos-textos($yellow);
        }

        .ultra {
            @include card-planos-textos($purple);
        }

        .mega {
            @include card-planos-textos($black);
        }

        ul {
            font-size: 1rem;
            padding  : 5% 12%;

            li {
                margin-bottom: 5%;
            }
        }
    }

    .btn-start {
        @extend .btn-basic;
        @include btn-planos($yellow, $yellow);

        &:hover {
            background-color: $yellow;
            color           : $white;
        }
    }

    .btn-ultra {
        @extend .btn-basic;
        @include btn-planos($purple, $purple);

        &:hover {
            background-color: $purple;
            color           : $white;
        }
    }

    .btn-mega {
        @extend .btn-basic;
        @include btn-planos($black, $black);

        &:hover {
            background-color: $black;
            color           : $white;
        }
    }
}

.secao-blog {
    @include display-flex-properties(flex, column, center, center);

    h2 {
        @include font-style-h2(2%);
    }

    .desc-blog {
        margin-bottom: 3%;
        padding      : 1% 0;
        width        : 52%;

        .blog-desc-title {
            font-size    : 1.3rem;
            font-weight  : bold;
            margin-bottom: 2%;
        }

        .blog-desc-text {
            font-size: 0.9rem;

            span {
                color          : $purple;
                font-weight    : 900;
                text-decoration: underline;
            }
        }
    }
}

.secao-destaque {
    @include background-section-color($gray, 0.3);
    @include display-flex-properties(flex, column, center, center);

    h2 {
        @include font-style-h2(3%);
    }

    .content-destaque {
        @include display-flex-properties(flex, row, center, center);
        gap: 5%;
    }

    .card-destaque {
        width: 30%;

        p {
            font-size  : 1.3rem;
            font-weight: bolder;
        }

        margin-bottom: 5%;

        &:hover {
            background-color: $white;
            box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border          : 8px solid $white;
            cursor          : pointer;
        }
    }

    a {
        @extend .btn-basic;
        border       : 1px solid $purple;
        margin-bottom: 2%;

        &:hover {
            background-color: $purple;
            color           : $white;
            transition      : 0.7s;
        }
    }
}

.secao-contato {

    @include display-flex-properties(flex, column, center, center);

    h2 {
        @include font-style-h2(1%);
    }

    p:last-of-type {
        margin-bottom: 1%;
    }

    form {
        @include display-flex-properties(flex, column, center, center);
        width        : 40%;
        margin-bottom: 5%;

        a {
            @extend .btn-basic;
            border : 1px solid $purple;
            color  : $black;
            padding: 2%;
            width  : 80%;

            &:hover {
                background-color: $purple;
                color           : $white;
                transition      : 0.8s;
            }
        }
    }

    .campo-form {
        display       : flex;
        flex-direction: column;
        width         : 80%;
        margin-bottom : 2%;

        label {
            margin-bottom: 1%;
        }

        input {
            border       : none;
            border-bottom: 1px solid $purple;
            outline      : none;
            padding      : 2%;
        }

        select {
            padding: 2%;
        }
    }

    .campo-form-checkbox {
        width        : 80%;
        margin-bottom: 3%;
    }
}

.secao-institucional {
    @include display-flex-properties(flex, column, center, center);
    @include background-section-color($gray, 0.3);

    h2 {
        @include font-style-h2(2%);
    }

    .content-institucional {
        @include display-flex-properties(flex, row, space-around, center);
        gap          : 1%;
        margin-bottom: 5%;
        width        : 80%;
    }

    .card-institucional {
        @include display-flex-properties(flex, column, flex-start, flex-start);
        padding: 1%;
        width  : 40%;

        video {
            width: 100%;
        }
    }

    .titulo-institucional {
        font-size: 0.9rem;
    }

    .endereco {
        font-size  : 1.4rem;
        font-style : italic;
        line-height: 2rem;
        margin     : 5% 0;
    }

    .telefone {
        font-size: 1.2rem;

        a {
            text-decoration: underline;
        }
    }

}

footer {
    @include background-section-color($black, 1);
    @include display-flex-properties(flex, column, space-around, center);
    color: $white;

    .content-footer {
        @include display-flex-properties(flex, row, center, center);
        margin: 2% 0;
        width : 80%;
    }

    .logo-apeperia {
        h2 {
            font-size: 2rem;
        }
    }

    .redes-sociais {
        @include display-flex-properties(flex, row, center, center);
        gap  : 5%;
        width: 20%;

        img {
            width : 42px;
            height: 42px;
        }
    }

    .links-rodape {
        width: 40%;

        ul {
            @include display-flex-properties(flex, row, center, center);
            gap       : 2%;
            list-style: none;
        }

        a {
            color: $white;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .copyright {
        margin-bottom: 3%;
        width        : 60%;

        hr {
            background-color: $gray;
            border          : none;
            content         : "";
            height          : 1px;
            margin-bottom   : 1%;
        }
    }
}