footer {
    @include background-section-color($black, 1);
    @include display-flex-properties(flex, column, space-around, center);
    color: $white;
}

.content-footer {
    @extend %display-flex-row-center;
    margin: 2% 0;
    width: 80%;

    @media screen and #{$mq-mobile} {
        flex-direction: column;
    }
}

.logo-apeperia {
    h2 {
        font-size: 2rem;
    }

    @media screen and #{$mq-mobile} {
        h2 {
            font-size: 1.2rem;
        }
    }
}

.redes-sociais {
    @extend %display-flex-row-center;
    gap: 5%;
    width: 20%;

    img {
        width: 42px;
        height: 42px;
    }

    @media screen and #{$mq-mobile} {
        img {
            display: none;
        }
    }
}

.links-rodape {
    width: 40%;

    ul {
        @extend %display-flex-row-center;
        gap: 2%;
        list-style: none;
    }

    a {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and #{$mq-mobile} {
        display: none;
    }
}

.copyright {
    margin-bottom: 3%;
    width: 60%;

    hr {
        background-color: $gray;
        border: none;
        content: "";
        height: 1px;
        margin-bottom: 1%;
    }

    @media screen and #{$mq-mobile} {
        text-align: center;
    }

}