.secao-planos {
    @include display-flex-properties(flex, column, space-around, center);
}

.content-planos {
    @extend %display-flex-row-center;
    gap: 1%;
    margin-bottom: 5%;
    width: 100%;

    @media screen and #{$mq-mobile} {
        flex-direction: column;
    }
}

.card-planos {
    @include display-flex-properties(flex, column, center, center);
    background-color: $white;
    border-radius: 6px;
    text-align: center;
    width: 20%;

    .card-planos-titulo {
        @include card-planos-textos();
        background-color: $purple;
        width: 100%;
    }

    .valor {
        color: $purple;
        font-size: 2.5rem;
        font-weight: 900;
        margin: 5% 0;
    }

    .card-planos-conteudo {
        flex: 1 1 auto;
        font-size: 1.1rem;
        margin-bottom: 2%;
        padding: 5%;
        text-align: left;
        width: 100%;

        li {
            border-bottom: 1px solid $gray;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5%;
            padding: 2% 0;
        }
    }

    @media screen and #{$mq-mobile} {
        margin-bottom: 2%;
        width: 80%;
    }
}

.btn-planos {
    @extend .btn-basic;
    @include btn-planos($purple, $purple);

    &:hover {
        background-color: $purple;
        color: $white;
    }
}