footer {
    @include background-section-color($black, 1);
    @include display-flex-properties(flex, column, space-around, center);
    color: $white;
}

.content-footer {
    @include display-flex-properties(flex, row, center, center);
    margin: 2% 0;
    width : 80%;
}

.logo-apeperia {
    h2 {
        font-size: 2rem;
    }
}

.redes-sociais {
    @include display-flex-properties(flex, row, center, center);
    gap  : 5%;
    width: 20%;

    img {
        width : 42px;
        height: 42px;
    }
}

.links-rodape {
    width: 40%;

    ul {
        @include display-flex-properties(flex, row, center, center);
        gap       : 2%;
        list-style: none;
    }

    a {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

}

.copyright {
    margin-bottom: 3%;
    width        : 60%;

    hr {
        background-color: $gray;
        border          : none;
        content         : "";
        height          : 1px;
        margin-bottom   : 1%;
    }
}